@model PasswordGen

<div class="container">
    <h2>Password Generator</h2>
    <form id="passwordForm">
        
        <div class="form-group">
            <label asp-for="Length"></label>
            <input type="number" class="form-control" id="length" value="12" min="6" max="20" required />
        </div>
        <div class="form-group">
            <label>
                <label asp-for="IncludeUpperCase"></label>
                <input type="checkbox" id="includeUppercase" checked /> Include Uppercase Letters
            </label>
        </div>
        <div class="form-group">
            <label>
                <label asp-for="IncludeLowerCase"></label>
                <input type="checkbox" id="includeLowercase" checked /> Include Lowercase Letters
            </label>
        </div>
        <div class="form-group">
            <label>
                <label asp-for="IncludeNumbers"></label>
                <input type="checkbox" id="includeNumbers" checked /> Include Numbers
            </label>
        </div>
        <div class="form-group">
            <label>
                <label asp-for="IncludeSymbols"></label>
                <input type="checkbox" id="includeSymbols" checked /> Include Symbols
            </label>
        </div>
        <button type="button" class="btn btn-primary" onclick="Password()">Generate Password</button>
    </form>

    <div class="result">
        <label>Generated Password:</label>
        <div id="generatedPassword" class="alert alert-info"></div>
    </div>
    <h5>Password Strength</h5>
    <div id="strengthBarContainer" style="width: 100%; background-color: #ddd"></div>
    <div class="progress">
        <div id="strengthBar" class="progress-bar" role="progressbar" style="width: 0%"></div>
    </div>


	<label>Password Estimated Time To Be Cracked</label>
    <div class="crackTimeContainer">
        <div id="crackTime" style="width: 40%" class="alert alert-info"></div>
    </div>
    


	@*<div id="strengthBar"style="height: 30px; width: 0%;"></div>*@
    </div>

@section Scripts {
    <script>
        function Password() {
            const passwordRequest = {
                length: document.getElementById("length").value,
                includeUppercase: document.getElementById("includeUppercase").checked,
                includeLowercase: document.getElementById("includeLowercase").checked,
                includeNumbers: document.getElementById("includeNumbers").checked,
                includeSymbols: document.getElementById("includeSymbols").checked
            };

            $.ajax({
                url: "/Password/GeneratePassword",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(passwordRequest),
                success: function (data) {
                    console.log("Received data:", data);
                    document.getElementById("generatedPassword").textContent = data.password;
                    document.getElementById("crackTime").textContent = data.crackTime;
                    //Call the PasswordStrength function here:
                    var strengthBar = document.getElementById("strengthBar");

                    if (data.passwordStrength === "Weak") {
                        strengthBar.style.width = "30%";
                        strengthBar.style.backgroundColor = "red";
                        strengthBar.style.display = 'flex';
                        strengthBar.style.justifyContent = 'center';
                        strengthBar.style.alignItems = 'center';
                        strengthBar.textContent = 'Weak Password, NOT RECOMMENDED!';
                        strengthBar.style.color = 'white';

                    } else if (data.passwordStrength === "Average") {
                        strengthBar.style.width = "60%";
                        strengthBar.style.backgroundColor = "orange";
                         strengthBar.style.display = 'flex';
                        strengthBar.style.justifyContent = 'center';
                        strengthBar.style.alignItems = 'center';
                        strengthBar.textContent = 'Average Password';
                        strengthBar.style.color = 'white';

                    } else if (data.passwordStrength === "Strong") {
                        strengthBar.style.width = "100%";                
                        strengthBar.style.backgroundColor = "green";
                        strengthBar.style.color = 'white';
                        strengthBar.style.display = 'flex';  
                        strengthBar.style.justifyContent = 'center';
                        strengthBar.style.alignItems = 'center';
                        strengthBar.textContent = 'Strong Password';
                        


                    } else {
                        // fallback case
                        strengthBar.style.width = "100%";
                        strengthBar.style.height = '30px';
                        strengthBar.style.backgroundColor = "black";
                        strengthBar.style.color = "white";
                        strengthBar.style.display = 'flex';
                        strengthBar.style.justifyContent = 'center';
                        strengthBar.style.alignItems = 'center';
                        strengthBar.textContent = 'No Strength, Please choose another password!';
                    }
                },
                error: function (error) {
                    console.error("Error:", error);
                    document.getElementById("generatedPassword").textContent = "Error generating password.";
                }
            });
        }

       
    </script>
}
